.blog-page-container {
  margin: 0 auto;
  width: 70vw;
}

.post-title {
  font-size: larger;
  margin: 1vh 0;
}

.blog-image {
  display: block;
  width: 30vw;
  height: auto;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.metabox {
  display: block;
}

.blog-content p {
  margin: 1.5vh 0;
}

@media (max-width: 1440px) {
  .blog-page-container {
    margin: 0 auto;
    width: 80vw;
  }

  .post-title {
    font-size: larger;
    margin: 1vh 0;
  }

  .blog-image {
    display: block;
    width: 35vw;
    height: auto;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  }

  .metabox {
    display: block;
  }

  .blog-content p {
    margin: 1.5vh 0;
  }
}

@media (max-width: 1440px) {
  .blog-page-container {
    margin: 0 auto;
    width: 80vw;
  }

  .post-title {
    font-size: larger;
    margin: 1vh 0;
  }

  .blog-image {
    display: block;
    width: 40vw;
    height: auto;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  }

  .metabox {
    display: block;
  }

  .blog-content p {
    margin: 1.5vh 0;
  }
}

@media (max-width: 1024px) {
  .blog-page-container {
    margin: 0 auto;
    width: 90vw;
  }

  .post-title {
    font-size: larger;
    margin: 1vh 0;
  }

  .blog-image {
    display: block;
    width: 45vw;
    height: auto;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  }

  .metabox {
    display: block;
  }

  .blog-content p {
    margin: 1.5vh 0;
  }
}

@media (max-width: 768px) {
  .blog-page-container {
    margin: 0 auto;
    width: 95vw;
  }

  .post-title {
    font-size: larger;
    margin: 1vh 0;
  }

  .blog-image {
    display: block;
    width: 50vw;
    height: auto;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  }

  .metabox {
    display: none;
  }

  .blog-content p {
    margin: 1.5vh 0;
  }
}

@media (max-width: 600px) {
  .blog-page-container {
    margin: 0 auto;
    width: 95vw;
  }

  .post-title {
    font-size: larger;
    margin: 1vh 0;
  }

  .blog-image {
    display: block;
    width: 50vw;
    height: auto;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  }

  .metabox {
    display: none;
  }

  .blog-content p {
    margin: 1.5vh 0;
  }
}

@media (max-width: 480px) {
  .blog-page-container {
    margin: 0 auto;
    width: 95vw;
  }

  .post-title {
    font-size: larger;
    margin: 1vh 0;
  }

  .blog-image {
    display: block;
    width: 50vw;
    height: auto;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  }

  .metabox {
    display: none;
  }

  .blog-content p {
    margin: 1.5vh 0;
  }
}
